@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "react-datepicker/dist/react-datepicker.css"; */
@layer components {
  .btn-primary {
    @apply py-3 px-4 rounded-lg font-medium text-white shadow-md
           bg-gradient-to-r from-[#d32f2f] to-[#b71c1c]
           hover:from-[#e03b3b] hover:to-[#9a1414]
           transition-transform transform
           active:scale-95
           disabled:opacity-60 disabled:cursor-not-allowed;
  }
}

/* ===== Custom Scrollbar ===== */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300 */
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* slate-400 */
}

/* Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}
