@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-3 px-4 rounded-lg font-medium text-white shadow-md
           bg-gradient-to-r from-[#d32f2f] to-[#b71c1c]
           hover:from-[#e03b3b] hover:to-[#9a1414]
           transition-transform transform
           active:scale-95
           disabled:opacity-60 disabled:cursor-not-allowed;
  }
}
